* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 30vh 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
